.mob-modal {
  position: fixed;
  top: 0;
  right: 0;
  transform: translateX(-100%) translateY(0) rotate(0) skewX(0) skewY(0)
    scaleX(1) scaleY(1);
  width: 100%;
  height: 100%;
  background-color: #fff;
  transition: all 0.5s ease-in-out;
  z-index: -1;
  overflow-y: auto;
}

.open {
  transform: none;
  transition-delay: 0.3s;
  z-index: 3;
}

/* .overlay {
    position: fixed;
    opacity: 0;
    visibility: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 1);
    z-index: 1;
    transition-delay: 0.6s; */
/* transition: all 0.5s ease-in-out; */
/* } */

/* .overlay.active {
    opacity: 1;
    visibility: visible;
    transition: all 0.5s ease-in-out;
  } */

.modal-open {
  overflow: hidden;
}

.close-menu {
  display: flex;
  justify-content: space-between;
  padding: 40px;
}

/* .close-menu .menu-logo img {
  width: 50px;
  height: 30px;
} */

/* .close-menu img {
  width: 50px;
  height: 50px;
} */

.mob-mn_Col2 {
  display: flex;
  flex-direction: column;
}

.mob-mn_Col2 li {
  list-style: none;
  display: flex;
  align-items: center;
}

.mn-items a,
.logout a {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0em;
  text-align: center;
  color: #5d6679;
  text-decoration: none;
  display: inline-block;
  padding: 11px 0;
}

.mn-items a p,
.logout a p {
  margin-left: 10px;
}
