.add_Proj {
  width: 500px;
  background: white;
  border-radius: 8px;
  position: fixed; /* Keep the modal fixed */
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%);
  z-index: 1;
}

.add_Sec {
  padding: 25px;
}

.add_Head h3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  margin-top: 0;
}

.add_Form {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.add_input-field {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 25px;
}

.add_input-field label {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #48505e;
  width: 150px;
}

.add_input-field input {
  font-size: 16px;
  font-weight: 400;
  color: #858d9d;
  border-radius: 8px;
  border: 1px solid #d0d5dd;
  padding: 10px 14px;
  width: 55%;
}

.add_input-field input:focus {
  outline: none;
}

.disc-btn,
.add-btn {
  margin-top: 20px;
}

.disc-btn button {
  width: 110px;
  font-size: 16px;
  padding: 10px;
  border: 1px solid #f0f1f3;
  border-radius: 4px;
  color: #858d9d;
  background: #fff;
}

.add-btn button {
  width: 110px;
  font-size: 16px;
  padding: 10px;
  background-color: #1366d9;
  color: #fff;
  border: none;
  border-radius: 4px;
}

.add_Btns {
  display: flex;
  justify-content: end;
  gap: 10px;
  margin-top: 100px;
  margin-bottom: 20px;
}

.add_Btns :hover {
  cursor: pointer;
}

/* UPLOAD */

/* .file-input-wrapper {
  position: relative;
  display: inline-block;
} */

/* .file-label {
  border: 1px solid #777777;
  padding: 8px 20px;
} */

.file-label label {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #858d9d;
}

.file-input-wrapper input[type="file"] {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  /* height: 100%; */
  opacity: 0;
}

.browse-button {
  width: 150px;
  padding: 12px 12px;
  font-size: 14px;
  font-weight: 700;
  border: 1px solid #777777;
  background-color: #dce3e8;
  color: #595757;
  cursor: pointer;
}

.can-btn {
  margin-top: 20px;
}

.can-btn button {
  width: 110px;
  font-size: 16px;
  padding: 10px;
  background-color: #808080;
  color: #fff;
  border: none;
  border-radius: 4px;
}

/* DASHBOARD */
/* .dash {
  background: #f0f1f3;
} */

.type {
  display: flex;
  gap: 10px;
  margin-left: 300px;
  margin-top: 320px;
}

.type-btn button {
  width: 110px;
  font-size: 14px;
  padding: 10px;
  background-color: #1366d9;
  color: #fff;
  border: none;
  border-radius: 4px;
}

.type-btn :hover {
  cursor: pointer;
}
