.payroll {
  width: 360px;
  border-radius: 20px;
  background: #fff;
  position: fixed; /* Keep the modal fixed */
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%);
  margin: 10px;
}

.payroll-sec {
  padding: 30px;
}

.payroll-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.manage-role {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  border: 1px solid #7a7a7a;
  background: rgba(217, 217, 217, 0);
  padding: 10px;
  width: 120px;
}

.manage-role p {
  margin: 0;
}

.payroll-form {
  display: flex;
  flex-direction: column;
}

.payroll-form-field {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.payroll-form-field label {
  color: #000;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.payroll-form-field input {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  border-radius: 5px;
  border: 1px solid #d9d9d9;
  background: #fff;
  margin-bottom: 1rem;
  padding: 10px 15px;
  outline: none;
}

.payroll-form-field select {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  border-radius: 5px;
  border: 1px solid #d9d9d9;
  background: #fff;
  margin-bottom: 1rem;
  padding: 10px 15px;
  outline: none;
}

.payroll-actions {
  display: flex;
  justify-content: end;
  margin-top: 50px;
}

.submit button {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  border-radius: 5px;
  border: 1px solid #cccdce;
  background: #1366d9;
  padding: 10px 25px;
}
